html, body {
	height: 100%;
}

body {
	width: 100%;
	margin: 0;
	color: #003166;
}

header {
	display: block;
	width: 100%;
	margin-bottom: 25px;
	color: white;
	font-size: 18px;
	background-color: #007bff;
  	box-shadow: 0 3px #006bdd;
}

#sitename h1 {
	display: inline-block;
	margin: 10px;
	color: white;
	font-family: 'Fredericka the Great', cursive;
}

#float_right {
	display: inline-block;
	float: right;
	margin: 10px;
	padding-top: 15px;
}

.down_right {
	display: inline-block;
	float: right;
	margin-bottom: 30px;
	margin-right: 5%;
}

h2.title {
	text-align: center;
}

textarea {
	display: block;
}

label {
	font-size: 18px;
	margin-left: 15px;
}

input[type=submit].search {
	background: url('/static/images/search.png') no-repeat;
	width: 34px;
	height: 34px;
	margin-left: 10px;
}

input#search_field {
	width: 400px;
	outline: none;
	border-color: #ddd;
	border-top: 1px;
	border-right: 1px;
	border-left: 1px;
	border-radius: 12px;
	padding-left: 7px;
}

input#search_field:focus {
	border: 1px solid #006bdd;
	border-radius: 5px;
}

input#search_field:required {
    box-shadow:none;
}

button {
	margin-top: 10px;
}

.content {
	margin-bottom: 30px;
}

.center {
	text-align:center;
	margin:auto;
}

.block-center {
	width: 330px;
	margin:auto;
}

.btn-primary {
	width: 207px;
	margin-bottom: 15px;
	font-size: 18px;
}

.room {
	display: block;
	width: 100%;
	padding: 5px;
	padding-bottom: 15px;
}

p {
	margin: 2px;
}

#chat {
	display: block;
	width: 90%;
	margin-left: 5%;
	min-height: 200px;
	border: 1px solid #006bdd;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 15px;
	padding: 5px;
	background-color: #eef6ff;
}

input#message_field {
	width: 83%;
	min-height: 38px;
	border: 1px solid #006bdd;
	border-radius: 5px;
	margin-left: 5%;
	margin-top: 0px;
	margin-right: -4px;
	padding: 5px;
	background-color: #eef6ff;
}

input#message_field:required {
    box-shadow:none;
}

input#send {
	width: 6%;
	margin-bottom: 5px;
	margin-left: 1%;
	font-size: 16px;
}

form#message_form {
	margin-bottom: 9px;
}

form#mailing_form {
	margin-top: 12px;
}

input#subject_field {
	width: 90%;
	min-height: 38px;
	border: 1px solid #006bdd;
	border-radius: 5px;
	margin-left: 5%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5px;
	background-color: #eef6ff;
}

input#subject_field:required {
    box-shadow:none;
}

textarea#mail_field {
	width: 90%;
	margin-left: 5%;
	height: 150px;
	border: 1px solid #006bdd;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 5px;
	background-color: #eef6ff;
}

textarea#mail_field:required {
    box-shadow:none;
}

input#send_emails {
	display: block;
	width: 200px;
	font-size: 16px;
	margin: auto;
	margin-bottom: 0px;
}

form#verification_form {
	display: inline-block;
}

ul.errorlist {
	color: red;
}

/* Extra small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap

 Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	#sitename h1 {
		padding-left: 50px;
	}

	#float_right {
		padding-right: 50px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	#sitename h1 {
		padding-left: 100px;
	}

	#float_right {
		padding-right: 100px;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	#sitename h1 {
		padding-left: 150px;
	}

	#float_right {
		padding-right: 150px;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	#sitename h1 {
		padding-left: 250px;
	}

	#float_right {
		padding-right: 250px;
	}
}