{% extends 'comuscentia/base.html' %}

{% block title %}{% if request.get_full_path == "/room/new/" %}Create new{% else %}Edit{% endif %} room{% endblock %}

{% block content %}
<div class="content container">
	<h2 class='title'>{% if request.get_full_path == "/room/new/" %}Create new{% else %}Edit{% endif %} room</h2>
	<form method="POST" class="post-form">{% csrf_token %}
    	{{ form.as_p }}
    	<p>Support <a href="https://textile-lang.com/">Textile</a> formatting.</p>
    	<div class="center"><button type="submit" class="btn btn-primary">Save</button></div>
	</form>
</div>

{% endblock %}