{% extends 'comuscentia/base.html' %}

{% block content %}

<div class="content container">
    <div class="row">

        <div class="col-md-8">
			Find new rooms!<br>
			Search:
		</div>

<!------------------------------------------------------------------>

		<div class="col-md-4">
		{% if user.is_authenticated %}

			<a class="btn btn-default" href="{% url 'new_room' %}">Create new room</a><br>

			<h2>Your rooms:</h2>
			{% for user_room in user_rooms %}
    			<div class="room">
    				<h3><a href="{% url 'room' pk=user_room.room.pk %}">{{ user_room.room.title }}</a></h3>
    				{{ user_room.room.owner }}
    			</div>
			{% endfor %}

<!------------------------------------------------------------------>

		{% else %} <!-- Или сделать это все двумя аккуратными кнопками в шапке?.. -->

			<a class="btn btn-default" href="{% url 'django_registration_register' %}">Registration</a><br>
			<a class="btn btn-default" href="{% url 'login' %}">Login</a>

		{% endif %}
		</div>

	</div>
</div>

{% endblock %}