{% extends 'comuscentia/base.html' %}
{% load markup_tags %}

{% block title %}{{ room.title }}{% endblock %}

{% block content %}
<!-- Room info -->
	<h2 class='title'>{{ room.title }}</h2><br>
	<div class="content container">
    	<p class="alert alert-primary">{{ room.description|linebreaksbr }}</p>
        <p>Room owner: {{ room.owner }}     <span style='float: right;'>Created {{ room.created_date }}</span></p>
    	<div class='room'>{{ room.textblock|apply_markup:"textile" }}</div>
        <p id="participants">Participants: {{ count }}</p>
<!-- Chat -->
    {% if user in participants %}
        <h4 class='center'>Chat</h4>
        <div id="chat">
            {% for msg in messages %}
            <p class="message"><b>{{ msg.author }}:</b> {{ msg.message }} <span style='float: right; color: grey;'>{{ msg.time }}</span></p>
            {% endfor %}
        </div>
        <form method="post" id="message_form">
            {% csrf_token %}
            {{ mesForm.as_table }}
            <input class="btn btn-primary" id='send' type="submit" value="Send">
        </form>
    {% endif %}
<!-- Buttons and email -->
    {% if user == room.owner %}
        {% if count > 1 %}
        <h4 class='center'>Mail delivery</h4>
        <form method="post" id="mailing_form">
            {% csrf_token %}
            {{ mailForm.as_table }}
            <input class="btn btn-primary" id="send_emails" type="submit" value="Send emails">
        </form>
        {% endif %}
        <div class="down_right">
        {% if not room.verificated and not asked4verif %}
        <form method="post" id="verification_form">
            {% csrf_token %}
            <input class="btn btn-secondary" id="verification" type="submit" value="Ask for verification">
        </form>
        {% endif %}
        <a class="btn btn-secondary" href="{% url 'edit_room' pk=room.pk %}">Edit room</a>

    <!-- Форма для добавления ключевых слов. Только для создателя комнаты. Мб в edit room... (?) -->
    
    <!-- а можно ли просто взять и удалить комнату? мб кнопка будет запускать процесс удаления, который удалит комнату только через неделю, чтоб все юзеры успели себе сохранить все что нужно. Ну и закрыть тогда эту комнату для новых учасников. Ну и дать возможность отменить удаление в этот срок -->
        <a class="btn btn-danger" href="{% url 'delete' pk=room.pk %}">Delete room</a>
        </div>
    {% else %}
        <br>
        <div class="down_right">
        {% if user not in participants %}
            <a class="btn btn-primary" href="{% url 'sub' pk=room.pk %}">Subscribe</a>
        {% else %}
            <a class="btn btn-danger" href="{% url 'unsub' pk=room.pk %}">Unsubscribe</a>
        {% endif %}
        </div>
    {% endif %}
	</div>

{% endblock %}

{% block javascript %}
{% load static %}
<script type="text/javascript">
var count = {{ room.msgs }};
window.onload = function loop() {
    $.ajax({
        url : "loop/", // the endpoint
        type : "GET", // http method

        // handle a successful response
        success : function(json) {
            console.log(count);
            if (count != json.msgs) {
                console.log("INCOMING MESSAGE");
                $.ajax({
                    url : "update/" + (json.msgs - count) + "/", // the endpoint
                    type : "GET", // http method

                    // handle a successful response
                    success : function(json2) {
                        var i;
                        for (i = 0; i < json2.author.length; i++) {
                            $('#chat').append('<p class="message"><b>'+json2.author[i]+':</b> '+json2.msg[i]+' <span style="float: right; color: grey;">'+json2.time[i]+'</span></p>'); // add html code with send result
                        }
                        console.log("messages received"); // another sanity check
                        count = json.msgs;
                    },

                    error : function() {
                        console.log("Update error");
                    }
                });
            }
        },

        error : function() {
            console.log("Loop error");
        }
    });
    setTimeout(loop, 2000);
};

$('#message_form').on('submit', function(event){
    event.preventDefault();
    console.log("form submitted")
    send();
});

$('#verification_form').on('submit', function(event){
    event.preventDefault();
    console.log("asked for verification")
    verificate();
});

function send() {
    console.log("sending is working") // sanity check
    $.ajax({
        url : "", // the endpoint
        type : "POST", // http method
        data : { msg : $('#message_field').val() }, // data sent with the post request

        // handle a successful response
        success : function(json) {
            console.log(json); // log the returned json to the console
            $('#message_field').val('');
            $('#chat').append('<p class="message"><b>'+json.author+':</b> '+json.msg+' <span style="float: right; color: grey;">'+json.time+'</span></p>'); // add html code with send result
            console.log("success"); // another sanity check
            count += 1;
        },

        error : function() {
            console.log("Sending error");
        }
    });
};

function verificate() {
    console.log("verification is working") // sanity check
    $.ajax({
        url : "verificate/", // the endpoint
        type : "POST", // http method

        // handle a successful response
        success : function() {
            $('#verification_form').hide();
            console.log("Verification success"); // another sanity check
        },

        error : function() {
            console.log("Verification error");
        }
    });
};
</script>
<script src="{% static 'js/csrf.js' %}" type="text/javascript"></script>
{% endblock %}